body {
    background-color: brown;
}

.terminal {
    background-color: wheat;
    height: 500px;
    width: 600px;
    border: 1px solid black;
}  

.console {
    height: 100%;
    white-space: pre-wrap;
    font-family: monospace;
    overflow: auto;
    border-bottom: 1px solid black;
}

.textInput {
    height: 20px;
    width: 100%;
    border: none;
}