body {
    background-color: brown;
}

.terminal {
    background-color: wheat;
    height: 500px;
    width: 600px;
    border: 2px solid black;
}  

.console {
    height: 95%;
    white-space: pre-wrap;
    font-family: monospace;
    overflow: auto;
}

.textInput {
    height: 5%;
    width: 100%;
    border: none;
    position: relative;
    bottom: 4px;
    border-top: 2px solid black;
}