body {
    background-color: brown;
}

.terminal {
    background-color: wheat;
    height: 400px;
    width: 75%;
}  

.console {
    height: 100%;
    white-space: pre-wrap;
    font-family: monospace;
    overflow: auto;
}

.textInput {
    width: 100%;
    border: none;
}